
<div id="footer">
    <p class="muted-logo tf-logo"></p>
    <img class="tf-logo-ie moa " alt="" src="@Url.Content("~/Images/tf_logo3.png")" />
    <p class="muted-logo">
        <a href="#"><i class="fa fa-facebook fa-lg"></i></a>
        <a href="#"><i class="fa fa-twitter fa-lg"></i></a>
        <a href="#"><i class="fa fa-google-plus fa-lg"></i>          </a>
    </p>
    <ul class="footer-menu text-muted">
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("New Review", "New", "Review")</li>
        <li>@Html.ActionLink("Search Tutor", "Search", "MemberMaster")</li>
        <li>@Html.ActionLink("Seeking Review", "Seek", "Review")</li>
        <li>@Html.ActionLink("Messaging", "Index", "Message")</li>
        <li>@Html.ActionLink("FAQ", "Index", "FAQ")</li>
    </ul>
    <p class="copyright text-muted"> 2014 Tutorfax.com. All Rights Reseved.</p>
</div>