@model TextContent

@{
    ViewBag.Title = "Edit";
}

<h2>@ViewBag.Title</h2>


@Html.Partial("Partials/TextContent/_Form")

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Html.LoadCLEditor("#TitleHTML,#BodyHTML")
}
