@model RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<h4>Create a new account.</h4>

@if (TempData["SignUpStatus"] != null)
{
    <p class="alert-success">
        @TempData["SignUpStatus"]
    </p>
}
else
{
    using (Html.BeginForm("Register", "Account", FormMethod.Post, new { role = "form", @class = "form-orange" }))
    {
        @Html.AntiForgeryToken()

        @Html.ValidationSummary(true)

        <div class="col-4">
            <div class="form-group">
                @Html.LabelFor(m => m.UserName)
                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", placeholder = Html.DisplayNameFor(m => m.UserName) })
                @Html.ValidationMessageFor(m => m.UserName)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ConfirmUserName)
                @Html.TextBoxFor(m => m.ConfirmUserName, new { @class = "form-control", placeholder = Html.DisplayNameFor(m => m.ConfirmUserName) })
                @Html.ValidationMessageFor(m => m.ConfirmUserName)
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = Html.DisplayNameFor(m => m.Password) })
                @Html.ValidationMessageFor(m => m.Password)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = Html.DisplayNameFor(m => m.ConfirmPassword) })
                @Html.ValidationMessageFor(m => m.ConfirmPassword)
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
                @Html.LabelFor(m => m.RoleId)
                @Html.DropDownList("RoleId", null, "Please select", new { @class = "form-control selectbox2 selectBox" })
                @Html.ValidationMessageFor(m => m.RoleId)
            </div>
            <div class="checkbox">
                <label for="iagree">
                    <input type="checkbox" id="iagree" />
                    I agree to <a href="#">Terms and Conditions</a>
                </label>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-4">
            <button class="btn btn-orange" type="submit" id="btn-sign-up">Sign Up</button>
        </div>
        <div class="clearfix"></div>
    }
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}